__pycache__/*
*.swp
*.pdf
*.aaa
*.aux
*.log
*.tex
.ipynb_checkpoints/
output_cellseg/
images/test_tfmrcnn1_060/
images/test_tfmrcnn1_080/
images/test_tfmrcnn1_100/
images/test_tfmrcnn1_120/
images/test_tfmrcnn1_130/
images/test_tfmrcnn1_140/
images/test_tfmrcnn1_150/
images/test_tfmrcnn1_160/
images/test_tfmrcnn1_180/
images/test_tfmrcnn1_200/
images/test_tfmrcnn_cellseg/
images/test_tfmrcnn_cellseg2/
images/training_resized/

